<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.xiaohu.modules.mapper.SysRoleMapper">
    <select id="getSysRoleByName" resultType="com.example.xiaohu.modules.entity.SysRole">
        select * from SYS_ROLE where role_name = #{roleName}
    </select>
</mapper>